@charset "utf-8";
/* CSS Document */

/* FONTS */
/* Importación de fuentes personalizadas */
@font-face {
    font-family: "Noto IKEA"; /* Fuente predeterminada */
    src: url(../fonts/Noto-IKEA-Latin-Regular.ttf);
}

@font-face {
    font-family: "Noto IKEA Bold"; /* Fuente negrita predeterminada */
    src: url(../fonts/Noto-IKEA-Latin-Bold.ttf);
}


/* Estilos para el body por defecto */
.contenido{
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
}
/* Estilos globales para todos los elementos */
*{
    margin: 0;
    padding: 0;
    font-family: "Noto IKEA"; /* Fuente predeterminada */
}

/* Variables CSS: Definición de colores */
:root {
    --bg-color1: white;
    --bg-color2: #111111;
    --bg-color3: #F5F5F5;
    --bg-color4: #DFDFDF;
    --bg-color5: #484848;
    --bg-color6: #000000;
    --bg-color7: #ECDBCB;
    --bg-color8: #E3D6CA;
    --bg-color9: #D0D8D0; 
    --bg-color10: #333333;
    --bg-color11: #0058A3; 
    --bg-color12: #004F93;
    --bg-color13: #D9D9D9;
    --bg-color14: #929292;
}



/* Estilos para la Cabecera */
.header{
    background-color: var(--bg-color2);
}
.msg-header{
    height: 40px;
}
.headerIcons{
    width: 18px;
    height: 18px;
}
.iconoCarritoFavoritos{
    background-color: var(--bg-color11);
}
/* Estilos específicos para elementos dentro de la cabecera */
div.header div div p{
    color: var(--bg-color1);
    font-size: 12px;
}
.fondoBuscador, .categorias{
    background-color: var(--bg-color3);
}
.fondoBuscador:hover, .categorias:hover {
    background-color: var(--bg-color4);
}
.paddingsBusqueda{
    padding-top: 13px;
    padding-bottom: 13px;
}
.iconosBusqueda{
    width: 40px;
    height: 40px;
}
.iconosBusqueda:hover{
    background-color: var(--bg-color4);
}
.textosP{
    color: var(--bg-color5);
    font-size: 14px;
}
.textosMenu{
    color: var(--bg-color6);
    font-size: 14px;
    font-family: "Noto IKEA Bold";
}
.textosMenu2{
    color: var(--bg-color6);
    font-size: 14px;
}

/* Estilos para la Página de Inicio */
.textosTitulo{
    font-family: "Noto IKEA Bold";
    color: var(--bg-color2);
    font-size: 36px;
}
.altoCartas{
    background-color: var(--bg-color7);
}
.alturaTxtSeccion2{
    height: 200px;
}
.titulosCartas{
    font-family: "Noto IKEA Bold";
    font-size: 25px;
    color: var(--bg-color2);
}
.textosCartas{
    font-size: 16px;
    color: var(--bg-color2);
}
.section3marginTop{
    margin-top: 4rem;
}
.titulosCartas2{
    font-family: "Noto IKEA Bold";
    font-size: 40px;
    color: var(--bg-color6);
}
.textosCartas2{
    font-size: 16px;
    color: var(--bg-color5);
}
.alturaTxtSeccion3{
    min-height: 140px;
}
.paddingMarginCartasSeccion3{
    padding: 4.5rem;
    padding-bottom: 0;
    margin-bottom: 9rem;
}
.colorBtnSeccion3{
    background-color: var(--bg-color2);
}
:hover.colorBtnSeccion3{
    background-color: var(--bg-color10);
}
.fondoComerIKEA{
    background-color: var(--bg-color8);
}
.fondoComidaEcologica{
    background-color: var(--bg-color9);
}
a.mejoresProductos{
    text-decoration: none;
}
a:hover div.altoCartas div h5.titulosCartas{
    text-decoration: underline;
}
.btn_flecha{
    width: 56px;
    height: 56px;
    background-color: var(--bg-color2);
}
.btn_flecha:hover{
    background-color: var(--bg-color10);
}

/* Estilos para el Panel de Categorías/Productos */
.txtCategorias{
    font-size: 12px;
    color: var(--bg-color6);
    font-family: "Noto IKEA Bold";
}
.textosTituloCat{
    font-family: "Noto IKEA Bold";
    color: var(--bg-color6);
    font-size: 24px;
}
.tituloProducto{
    font-family: "Noto IKEA Bold";
    color: var(--bg-color2);
    font-size: 14px;
}
.descProd{
    min-height: 50px;
    font-size: 14px;
    color: var(--bg-color5);
}


/* Estilos para la Página de Favoritos */
.descProdFav{
    min-height: 70px;
    max-height: 70px;
    font-size: 14px;
    color: var(--bg-color5);
}
.tituloProdFav{
    min-height: 40px;
    max-height: 40px;
    font-family: "Noto IKEA Bold";
    color: var(--bg-color2);
    font-size: 14px;
}
.precioEntProd{
    font-family: "Noto IKEA Bold";
    font-size: 24px;
    color: var(--bg-color2);
}
.precioDecProd{
    font-family: "Noto IKEA Bold";
    font-size: 12px;
    color: var(--bg-color2);
}

/* Estilos para la Página de Carrito */
.btnProdCarrito, .btnProdFav{
    width: 40px;
    height: 40px;
}
.btnProdCarrito, .btnContinuar, .btnLogin{
    background-color: var(--bg-color11);
}
:hover.btnProdCarrito, :hover.btnContinuar, :hover.btnLogin{
    background-color: var(--bg-color12);
}
.btnProdFav, .sumaResta{
    background-color: transparent;
}
.btnProdFav:hover, .sumaResta:hover{
    background-color: var(--bg-color4);
}
.cantidadPedido{
    font-family: "Noto IKEA Bold";
    font-size: 14px;
    color: var(--bg-color6);
}
.tituloProductoCar{
    font-family: "Noto IKEA Bold";
    color: var(--bg-color5);
    font-size: 14px;
}
.precioProductoCar{
    font-family: "Noto IKEA Bold";
    font-size: 16px;
    color: var(--bg-color5);
}
.enlacesCarrito{
    font-size: 14px;
    color: var(--bg-color5);
    text-decoration: none;
}
.enlacesCarrito:hover{
    font-size: 14px;
    color: var(--bg-color2);
    text-decoration: none;
}
.resumenPedido{
    font-family: "Noto IKEA Bold";
    font-size: 16px;
    color: var(--bg-color5);
}
.textoPedidos, .textoUneteIkea{
    font-size: 14px;
    color: var(--bg-color5);
}
.textoPedidosBold{
    font-family: "Noto IKEA Bold";
    font-size: 14px;
    color: var(--bg-color5);
}
.bordeResumenPed{
    border-color: var(--bg-color2) !important;
}
.precioSubtotal{
    font-family: "Noto IKEA Bold";
    font-size: 24px;
    color: var(--bg-color2);
}
.continuarPedido{
    text-decoration: none;
    font-family: "Noto IKEA Bold";
    color: var(--bg-color1);
    font-size: 16px;
}
.btn_flechaPed{
    width: 40px;
    height: 40px;
    background-color: var(--bg-color1);
}

/* Estilos para el Footer */
.bg-footer{
    background-color: var(--bg-color3);
}
.textFooter{
    font-size: 12px;
    color: var(--bg-color2);
}
:hover.textFooter{
    color: var(--bg-color5);
    text-decoration: underline;
}
.textIkeaFooter{
    font-size: 12px;
    color: var(--bg-color5);
}
.titulosFooter{
    font-size: 14px;
    font-family: "Noto IKEA Bold";
    color: var(--bg-color6);
}
.tituloUneteIkea{
    font-size: 16px;
    font-family: "Noto IKEA Bold";
    color: var(--bg-color2);
}
.textFooterDescurbre{
    text-decoration: underline !important;
}
.textFooterList{
    font-size: 14px;
    color: var(--bg-color5);
    text-decoration: none;
}
:hover.textFooterList{
    color: var(--bg-color2);
    text-decoration: underline;
}
.redesSociales{
    border-color: var(--bg-color13) !important;
}   
:hover.redesSociales{
    border-color: var(--bg-color5)   !important;
}

/* Estilos para la sección de Login */
.btnIniciar{
    font-size: 14px;
    font-family: "Noto IKEA Bold";
    color: var(--bg-color1);
}
.registrate{
    color: var(--bg-color5);
    font-family: "Noto IKEA Bold";
    font-size: 14px;
    text-decoration: none !important;
}
.elementoLista:hover{
    background-color: var(--bg-color3) !important;
}
.elementoLista1{
    background-color: var(--bg-color3) !important;
}
.listaPanelUsuario,.listaPanelUsuario2{
    color: var(--bg-color2);
    font-family: "Noto IKEA Bold";
    font-size: 16px;
}
.titulosInfoPers{
    color: var(--bg-color14);
    font-family: "Noto IKEA";
    font-size: 13px;
}
.h4infoPersonal{
    color: var(--bg-color2);
    font-family: "Noto IKEA Bold";
    font-size: 24px;
}
.editarUsuario{
    color: var(--bg-color2);
    font-family: "Noto IKEA Bold";
    font-size: 12px;
    background-color: transparent;
}
.editarUsuario:hover{
    background-color: var(--bg-color4);
}

/* Estilos para Modificar/Actualizar/Eliminar Producto */
.btnActualizar, .btnEliminar, .btnAgregar, .btnVerPedido, .btnEliminarPedido, .btnGuardarCambios, .btnCancelarCambios{
    background-color: var(--bg-color11) !important;
    color: var(--bg-color1);
    font-family: "Noto IKEA Bold";
    font-size: 14px;
}
.btnActualizar:hover, .btnEliminar:hover, .btnAgregar:hover, .btnVerPedido:hover, .btnEliminarPedido:hover, .btnGuardarCambios:hover, .btnCancelarCambios:hover{
    background-color: var(--bg-color12) !important;
}
.btnCancelarCambios{
    background-color: var(--bg-color2) !important;
}
.btnCancelarCambios:hover{
    background-color: var(--bg-color10) !important;
}



/* Media Queries: Estilos basados en el tamaño de la pantalla */
/* para cambiar el estilo cuando la resolución es menor a max-width */
@media only screen and (max-width: 768px) {
    .ocultos{
        display:none !important;
    }
}
@media only screen and (max-width: 1024px) {
    .ocultos-footer{
        display:none !important;
    }
}
@media only screen and (max-width: 992px) {
    .alinear-inicio{
        justify-content: start !important;
        margin-top: 3px;
    }
}
@media only screen and (max-width: 768px) {
    .alinear-inicioPrecio{
        justify-content: start !important;
        margin-top: 3px;
        margin-left: 4px;
    }
}
@media only screen and (max-width: 992px) {
    .quitarPadding{
        padding-left: 0px !important;
    }
}
